.vs/SQL-Server-Management-Studio-22.slnx/FileContentIndex/efa181f1-660a-491a-b5bf-684c42b5a39c.vsidx
.vs/SQL-Server-Management-Studio-22.slnx/FileContentIndex/021110e1-069a-4e98-a36c-270295147ca3.vsidx
*.vsidx
